.body-container{
    text-align: center;
    height:100px;    
}
h2{
    font-size: 50px;
}
#gameBoard{
    border: 3px solid;
}
#score{
    font-family:"Permanent Marker",cursive;
    font-size: 60px;
    margin-bottom: 20px;
}
#resetButton,#startButton{
    font-size: 30px ;
    width: 200px;
    height: 50px;
    border: 5px dotted;
    border-radius: 35px;
    cursor: pointer;
}
#startButton{
    margin-top: 40px;
}
